<section class="about-section">
  <div class="about-container">
    <div class="about-image">
     
      <img src="mamu.png" alt="Syed Zafar Abbas">

    </div>

    <div class="about-text">
      <h1>About Me</h1>
      <h2 class="name">Syed Zafar Abbas</h2>

      <p>
With over 15 years of expertise across Kuwait and UAE, I specialize in corporate tax, Zakat filing, dispute resolution, tax treaty relief, audit & assurance, and tax & business advisory services. My career reflects a proven ability to deliver measurable financial impact in complex regulatory environments.
      <p>
My interests focus primarily on global tax compliance, navigating regulations, resolving disputes, and delivering strategies that drive financial impacts.      </p>


      <a class="btn-linkedin" href="https://www.linkedin.com/in/syedzafarabbas" target="_blank">
        Connect on LinkedIn
      </a>
    </div>
  </div>
</section>
