<section class="hero">
  <div class="content">
    <h1 class="typing">Hi, I’m <span class="highlight">Ali Hasnain</span></h1>
    <h2 class="subtitle">Full-Stack Developer</h2>

    <p class="description">
I am a software developer with a strong focus on building scalable, high-performance applications using Angular, .NET, and SQL.
My primary passion is software development, where I enjoy designing clean architectures and delivering reliable, maintainable solutions.
    </p>

    <div class="buttons">
      <a class="btn-accent" routerLink="/projects">View My Projects</a>
    </div>

    <div class="social">
      <a href="https://www.linkedin.com/in/ali-hasnain-0092311b3" target="_blank">LinkedIn</a>
      <a href="mailto:alitaqvi505@gmail.com">Email Me</a>
    </div>
  </div>


</section>
