<section class="hero">
  <div class="content">
    <h1 class="typing">Hi, I’m <span class="highlight">Syed Zafar Abbas</span></h1>
    <h2 class="subtitle">Senior Tax Assurance Strategist | Compliance Expert</h2>

    <p class="description">
Global Tax & Finance professional with 15+ years of experience across Kuwait and the UAE, specializing in corporate tax & Zakat, dispute resolution, tax treaty relief, and audit & advisory.
Proven track record at EY, BDO, and TechnipFMC in leading complex audits, negotiating revised assessments, and delivering significant tax savings for multinational clients across diverse industries</p>
<p>
  Kuwait Contact:
  <a href="tel:+96597211705">📞 Call</a> |
  <a href="https://wa.me/96597211705" target="_blank">💬 WhatsApp</a>
  <br>
  UAE Contact:
  <a href="tel:+971564693325">📞 Call</a> |
  <a href="https://wa.me/971564693325" target="_blank">💬 WhatsApp</a>
</p>
<br>
    <div class="buttons">
      <a class="btn-accent" routerLink="/projects">View My Experience</a>
    </div>

    <div class="social">
      <a href="https://www.linkedin.com/in/syedzafarabbas" target="_blank">LinkedIn</a>
      <a href="mailto:syedzaffarabbas@gmail.com" target="_blank">Email Me</a>
    </div>
  </div>


</section>
