:root {
  --bg-dark: #0b0e17;
  --card-bg: #0b0e17;
  --accent: #b0b3b8; 
  --accent2: blue;
  --text-light: #f3f4f6;
  --text-muted: #b0b3b8;
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-light);
}

a {
  color: var(--accent2);
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: var(--card-bg);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-links a {
  margin: 0 1rem;
  font-weight: 500;
  color: var(--text-light);
  cursor: pointer;
}

.nav-links a:hover {
  color: var(--accent2);
}

.btn-accent {
  background: linear-gradient(135deg, var(--accent), var(--accent2));
  border: none;
  color: #fff;
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease;
}
.btn-accent:hover {
  opacity: 0.85;
}

section {
  padding: 5rem 3rem;
  max-width: 1100px;
  margin: auto;
}

.card {
  background-color: var(--card-bg);
  border-radius: 15px;
  padding: 1.5rem;
  border: 1px solid var(--border);
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-5px);
}
